# dependencies
/node_modules

# next.js
/.next
/out

# testing
/coverage
/playwright-report
/test-results
/.evals

# local files
.DS_Store
*.local
.env
.env.*
!.env.example

# logs
*.log

# TypeScript
*.tsbuildinfo
next-env.d.ts
.claude-flow/
.vercel
